body {
    .centeredFlex {
        display: flex;
        justify-content: center;
        vertical-align: auto
    }
    #imgLogo {
        width: auto;
        height: 150px;
    }
    #myBooks{
        .centered {
            margin: 0 auto;
        }
    }
    
    
}

#myBooks {
    color: blue;
}